lock
logs*
*.sas
*.pkl
plans_*
*.sh.e*
*.sh.o*
.ipynb_checkpoints
*.log
trained_models*
validated_models*
saved_models*
*.sif
data/
lifted/
plans/
plots/

all_trained_models/
experiments/
experiment/
aux_dir/
plans/
test.dt
test.py
check.py

slg
flg
llg
dlg

sas_files
plans

*.ipynb
util/fig/

*.pyc